*{
    box-sizing: border-box;
    border-collapse: collapse;
    font-family: "標楷體";
}
h1{
    color: #00f;
}
body{
    display: flex;
    width: 1024px;
    padding: 0 12px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* height: 100vh; */
}
.top{
    flex-basis: 1000px;
    border: 1px solid #000;
    background-repeat: 0px;
    height: 65px;
    padding: 2px;
}
.aside{
    border: 1px solid #000;
    height: calc(768px - 65px - 20px);
    flex-basis: 215px;
    display: flex;
    flex-direction: column;
}
.section>.marquee{
    height: 25px;
    border: 1px solid #000;
}
.aside>.menu{
    flex-basis: calc(100% - 25px);
}
aside> .menu-header{
    /* text-decoration: underline; */
    color: #FF00FF;
    font-weight: 500px;
    font-size: 24px;
    padding: 10px;
}
aside> .underline{
    /* text-decoration: underline; */
    border-top: 2px solid #FF00FF;
    width: 100px;
    margin: auto;
    height: 10px;
}
aside>footer.update{
    border: 1px solid #000;
}
main{
    flex-basis: calc(100% - 215px);
    border: 1px solid #000;
    margin-top: 0px;
    /* height: 100px; */
    background-image: url(../img/);
}
/* .section > iframe_a{
    width: 100%;
    height: 100%;
} */
.footer{
    border: 1px solid #000;
    flex-basis: 1000px;
    height: 20px;
}
marquee{
    font-size: 24px;
    height: 30px;
    line-height: 35px;
    display: inline-block;
    color: #0000FF;
}
.menu > a{
    display: block;
    background-image: url(../img/menu1.png);
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.menu > a:hover{
    display: block;
    background-image: url(../img/menu2.png);
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}
article > iframe{

    height: 100%;
    width: 100%;
}
article{
    width: 100%;
    height: calc(100% - 29px - 5px);
}
/* img{
    height: 60px;
    width: 994px;
} */